footer {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  .footerInfo {
    display: flex;
    max-width: 1440px;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    :first-child {
      display: flex;
      height: 100%;
    }
    img {
      width: 171px;
      min-width: 171px;
      max-height: 47px;
      align-self: flex-start;
      margin-top: 1.5rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      list-style: none;
      padding-left: 0;
      li {
        width: calc(50% - 0.5rem);
        color: #dcdcdc;
        margin: 0 0.25rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
      }
      @include screen('tablet') {
        li {
          width: 100%;
          margin: 0 0 0.5rem 0;
        }
      }
    }
    .text {
      border-top: 1px solid #787878;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
      p {
        color: #b8b8b8;
        margin-bottom: 0;
      }
      span {
        a {
          color: #a1f3ff;
          margin-right: 0.5rem;
          &:hover {
            color: mix(#fff, #a1f3ff, 50%);
          }
        }
      }
      @include screen('tablet') {
        display: block;
        span {
          margin-top: 1rem;
          display: block;
        }
        p {
          margin-top: 0.5rem;
        }
      }
    }
    @include screen('mobile') {
      :first-child {
        display: block;
        height: unset;
        img {
          margin-left: 2rem;
        }
      }
      display: block;
      img {
        margin-bottom: 0.5rem;
      }
      ul {
        padding: 0;
      }
      .info {
        margin-left: 2rem;
      }
    }
  }
  > div {
    margin: 0 2rem;
  }
  .info {
    margin-left: 2.75rem;
  }
  background: #3d3d3d;
}
